*.swp
.DS_Store
data/
c/
Makefile
config.h
config.log
config.status
src/.deps/
src/Makefile
stamp-h1
test/.deps/
test/Makefile
aclocal.m4
autom4te.cache/
src/import
src/import.o
src/neostore
src/neostore.o
test/check_neostore
test/check_neostore.log
test/check_neostore.o
test/neostore.o
